PIDNet-main/PIDNet-main/data/LoveDA/train
PIDNet-main/PIDNet-main/data/LoveDA/val
PIDNet-main/PIDNet-main/data/LoveDA/train.zip
PIDNet-main/PIDNet-main/data/LoveDA/val.zip
project_datasets/LoveDA
**/__pycache__/
log/
output/