PIDNet-main/data/loveda/train
PIDNet-main/data/loveda/val
DeepLab/project_datasets/LoveDA
DeepLab/training/results/deeplabv2_loveda_best.pth
STDC-Seg/pretrained_models/STDCNet813M_73.91.tar
STDC-Seg/pretrained_models/STDCNet1446_76.47.tar
BiSeNet/pretrained_models/bisenetv1.pth
BiSeNet/pretrained_models/bisenetv2.pth
Plots
log
**/data
**/checkpoint.pth.tar
**/__pycache__/
